{namespace formbuilder=TYPO3\FormBuilder\ViewHelpers}
<html>
	<head>
		<f:base />
	</head>
	<body>
		<h2>Edit Form</h2>
		<ul>
			<f:for each="{forms}" key="formPersistenceIdentifier" as="formName">
				<li>
					<f:link.action controller="Editor" action="index" arguments="{formPersistenceIdentifier: formPersistenceIdentifier}">{formName} -- {formPersistenceIdentifier}</f:link.action>
					-- <f:link.action action="show" arguments="{formPersistenceIdentifier: formPersistenceIdentifier}">Show</f:link.action>
				</li>
			</f:for>
		</ul>

		<h2>Create new Form</h2>
		<f:form action="create">
			Form Name: <f:form.textfield name="formName" />
			Save Path: <f:form.textfield name="formPersistenceIdentifier" />
			Template: <f:form.select name="templatePath" options="{newFormTemplates}" />
			<f:form.submit value="Create" />
		</f:form>
	</body>
</html>