{namespace form=Neos\Form\ViewHelpers}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="../../../Public/Css/FormPreview.css" rel="stylesheet">
		<form:renderHead presetName="{presetName}" />
	</head>
	<body>
		<div id="presetSelector">
			<f:form action="show" method="get">
				<f:form.select name="presetName" options="{availablePresets}" value="{presetName}" additionalAttributes="{onchange: 'this.form.submit()'}" />
				<f:form.hidden name="formPersistenceIdentifier" value="{formPersistenceIdentifier}" />
			</f:form>
		</div>
		<form:render persistenceIdentifier="{formPersistenceIdentifier}" presetName="{presetName}" factoryClass="{formFactoryClass}"/>
	</body>
</html>
