#header, #leftSidebar, #rightSidebar {
	@include global-reset();

	font-family: Arial, sans-serif;
	h1, h2, h3, h4, h5, h6, li {
		color: white;
	}
	select {
		display: inline;
		color: white;
	}

	// Resetting Bootstrap.css
	label {
		color: white;
		text-align:left;
		float: none;
	}
	input, textarea {
		@include transition-property(none);
		width: inherit;
		height: inherit;
		padding: 0;
	}

	line-height: normal;
}