@import "compass/css3/box-shadow";

#header, #leftSidebar, #rightSidebar {
	@include global-reset();

	font-family: Arial, sans-serif;
	h1, h2, h3, h4, h5, h6, li {
		color: white;
	}
	select {
		display: inline;
		color: white;
		background-color: $colorLighterBackground;
	}

	// Resetting Bootstrap.css
	label {
		color: white;
		text-align:left;
		float: none;
	}
	input, textarea {
		@include transition-property(none);
		width: inherit;
		height: inherit;
		padding: 0;

		&:focus {
			outline: 0;
			border: 1px solid $colorHighlight;
			@include box-shadow($colorHighlight 0 0 5px);
		}
	}

	line-height: normal;
}