
#app {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: none;
}

#header {
	left: 0;
	top: 0;
	width: 100%;
	height: $headerSize;
	position: fixed;

	background: $colorDarkBackground;
	color: white;
}

#leftSidebar {
	position:fixed;
	left: 0;
	top: 0;
	background: $colorDarkBackground;
	width: $leftSidebarWidth;
	height: 100%;
}
#leftSidebarInner, #rightSidebarInner {
	position: absolute;
	left: 0;
	top: $headerSize;
	width: 100%;
}

#rightSidebar {
	position:fixed;
	right: 0;
	top: 0;
	background: $colorDarkBackground;
	width: $rightSidebarWidth;
	height: 100%;
}
