@import "compass/css3/box-shadow";

#neos-formbuilder-header,
#neos-formbuilder-elementSidebar,
#neos-formbuilder-elementOptionsPanel,
#neos-formbuilder-footer {
	@include global-reset();

	font-family: Arial, sans-serif;
	h1, h2, h3, h4, h5, h6, li {
		color: white;
	}
	label {
		color: white;
		text-align:left;
		float: none;
	}
	input, textarea, select {
		width: inherit;
		height: inherit;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
	}
	button {
		padding: 2px 0;
		color: white;
		border: none;
		background: none;
		text-align: left;
	}
}
