@import "compass/reset/utilities";
@import "compass/css3/transition";

/**
 * Global Variables
 */
$headerSize: 46px;
$footerSize: 11px;

$colorDarkBackground: #282828;
$colorLighterBackground: #474747;
$colorLightBackground: #808080;
$colorHighlight: #ff8700;

@import 'reset';
@import 'icons';
@import 'forms';
@import 'dialogs';
@import 'elementStructure';

#typo3-formbuilder-header,
#typo3-formbuilder-elementSidebar,
#typo3-formbuilder-elementOptionsPanel,
#typo3-formbuilder-footer {
	background: $colorLighterBackground;
	color: white;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	overflow: auto;
	a {
		color: white;
		text-decoration: none;
		&.active, &:hover {
			color: #ff8700;
		}
	}
	h2, h3, h4 {
	    padding: 1px 2px 2px 5px;
		border-bottom: 1px solid $colorDarkBackground;
		color: white;
		clear: both;
		white-space: nowrap;
		font-size: 10px;
		font-weight: bold;
		height: 16px;
	}
	h2 {
		padding-top: 3px;
		background: #383838;
		text-transform: uppercase;
		text-shadow: 0 1px 1px #111;
	}
	h3 {
		background: #777;
		text-transform: uppercase;
		color: #383838;
		border-top: 1px solid #999;
		border-bottom: 1px solid #383838;
		text-shadow: 0 1px 1px #aaa;
		height: 14px;
	}
	h4 {
		background: #555;
		color: white;
		border-top: 1px solid #999;
		border-bottom: 1px solid #383838;
		height: 14px;
	}
	.typo3-formbuilder-error {
		color: #aa6666;
	}
}

#typo3-formbuilder-loading {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 20px;
	height: 20px;
	background: #262626 url("../Images/spinner.gif") center center no-repeat;
	z-index: 3000;
	text-indent: -9999px;
	overflow: hidden;
}

#typo3-formbuilder-header {
	margin: 0;
	padding: 0;
	background: $colorDarkBackground url('../Images/header_background.png') 0 0 repeat-x;
	height: $headerSize !important;
	overflow: hidden;
	h1 {
		margin: 5px 0 0 12px;
		font-size: 25px;
		color: #fff;
		text-shadow: 0 -1px 0 #777;
		background: transparent url('../Images/flow3Logo.png') 2px center no-repeat;
		padding-left: 23px;
	}
	#typo3-formbuilder-toolbar {
		position: absolute;
		top: 14px;
		right: 10px;
		li {
			display: inline;
			margin: 0 0 0 10px;
			div {
				display: inline;
			}
			select {
				background: $colorLighterBackground;
				width: 119px;
				color: white;
			}
		}
		.typo3-formbuilder-preset {
			position: relative;
			top: -2px;
			height: 20px;
		}
		.typo3-formbuilder-preview button {
			@include overrideIcon($icon-search);
		}
		.typo3-formbuilder-save button {
			@include overrideIcon($icon-download-alt);
			&.saved, &[disabled] {
				color: #444;
				@include overrideIconDark($icon-download-alt);
			}
			&.currently-saving:before {
				background-image: url('../Images/saving.gif');
				background-position: 1px 1px !important;
			}
			&.save-error:before {
				background-image: url('../Images/saving_error.gif');
				background-position: 1px 1px !important;
			}
		}
	}
}

#typo3-formbuilder-structurePanel {
	overflow: auto;
	button {
		@include icon($icon-cog);
		padding: 0 0 0 19px;
		font-size: 10px;
		line-height: 16px;
		font-weight: bold;
		&:before {
			margin-top: 1px;
		}
		&:hover {
			background: #383838;
			color: $colorHighlight;
		}
		&.typo3-formbuilder-form-selected {
			color: $colorHighlight;
		}
	}
}
#typo3-formbuilder-insertElementsPanel {
	overflow: auto;
	h3 span {
		@include iconDark($icon-cog);
		padding-left: 17px;
		color: #383838;
		&:before {
			margin-top: 0;
		}
	}
	ul {
		margin-bottom: 7px;
		li {
			padding-left: 25px;
			color: #999;
			&.typo3-formbuilder-enabled {
				color: white;
				&:hover {
					color: $colorHighlight;
					background: #383838;
				}
				span {
					cursor: pointer;
					@include icon($icon-file);
				}
			}
			span {
				@include iconDark($icon-ban-circle);
				cursor: disabled;
				display: block;
				padding: 4px 0 3px 2px;
				font-size: 10px;
			}
		}
	}
}

#typo3-formbuilder-elementOptionsPanel {
	.typo3-formbuilder-propertyPanelTitle {
		height: 28px;
		em {
			display: block;
			font-weight: normal;
			text-transform: none;
		}
	}
	.typo3-formbuilder-identifier {
		cursor: pointer;
		&:hover {
			color: $colorHighlight;
		}
	}
	.typo3-formbuilder-controlGroup {
		margin: 7px 5px 7px 5px;
		clear: both;
		label {
			float: left;
			padding-right: 2px;
			width: 35%;
		}
		.typo3-formbuilder-controls {
			display: block;
			margin-left: 40%;
			width: 57%;
			.typo3-formbuilder-explanation {
				font-size: 10px;
				color: #999;
			}
			label {
				float: none;
				width: auto;
			}
		}
		input,
		textarea,
		select {
			width: 100%;
		}
		input[type='checkbox'],
		input[type='radio'] {
			width: auto;
			margin-right: 3px;
		}
	}
	.typo3-formbuilder-addValidator,
	.typo3-formbuilder-addFinisher {
		border-bottom: 1px solid #444;
		select {
			width: 100%;
			background: $colorLightBackground;
			font-size: 12px;
			color: white;
			font-weight: bold;
			border: none;
			option {
				font-weight: normal;
			}
		}
	}
	.typo3-formbuilder-grid {
		clear: both;
		padding-top: 5px;
		.slick-header-columns {
			background: $colorLightBackground;
			color: $colorLighterBackground;
			text-align: center;
			font-weight: bold;
			border-bottom: 1px solid $colorDarkBackground;
		}
		.slick-viewport {
			background: white;
			color: $colorDarkBackground;
			.slick-row {
				border: none;
				.slick-cell {
					border-color: transparent silver silver transparent;
					background: #ddd;
					padding: 3px 2px 2px 1px;
					height: 18px;
					&.editable {
						padding: 0 2px 2px 0;
						height: 21px;
					}
				}
				.editor-text {
					width: 97%;
					height: 100%;
					border: none;;
					box-shadow: none;
					color: black;
				}
				.cell-reorder {
					cursor: move;
					background: #ddd url('../Images/drag-handle.png') no-repeat center center;
				}

				.slick-cell.typo3-formbuilder-grid-deleteRow {
					cursor: pointer;
					background: url('../Images/glyphicons-halflings.png') $icon-trash no-repeat;
				}
			}
			.slick-reorder-proxy, .slick-reorder-guide {
				background: $colorDarkBackground;
			}
		}
	}
	.typo3-formbuilder-removeButton {
		display: inline-block;
		position: absolute;
		right: 5px;
		width: 14px;
		height: 14px;
		text-indent: -9999px;
		vertical-align: text-top;
		background: transparent url('../Images/glyphicons-halflings-white.png') -456px 0 no-repeat;
		&:hover {
			background-color: #666;
		}
	}
	.typo3-formbuilder-removeElementButton {
		position: absolute;
		top: 26px;
		right: 3px;
		font-size: 0;
		padding: 5px 2px 5px 21px;
		@include overrideIcon($icon-trash);
	}
}

#typo3-formbuilder-footer {
	background: $colorDarkBackground url('../Images/footer_background.png') 0 0 repeat-x;
	height: $footerSize + 9px !important;
	padding: 9px 5px 0 0;
	font-size: 10px;
	color: #777;
	overflow: hidden;
	text-align: right;
}

#typo3-formbuilder-stage {
	overflow: auto;
	.typo3-formbuilder-form-element-selected {
		background: #ccc;
	}
}

// TODO wrap?

.ui-layout-resizer {
	background: $colorLightBackground url('../Images/hgrabber.gif') 50% 50% no-repeat;
	border: 1px solid #909090;
}
.ui-layout-resizer-north, .ui-layout-resizer-south {
	border-style: solid none;
}
.ui-layout-resizer-east, .ui-layout-resizer-west {
	border-color: black;
	border-style: none solid none none;
}
.ui-layout-resizer-west {
	border-style: none none none solid;
}
.ui-layout-resizer-dragging-limit {
	background-color: #7f4949;
}