@import "compass/reset/utilities";
@import "compass/css3/transition";

/**
 * Global Variables
 */
$headerSize: 50px;
$leftSidebarWidth: 300px;
$rightSidebarWidth: 300px;

$colorDarkBackground: #222222;
$colorLighterBackground: #3C3C3C;
$colorLightBackground: #CCC;
$colorHighlight: #FF8700;

@import "globalreset";
@import "layout";



// Here, the main form area is diplayed
#main {
	padding-left: $leftSidebarWidth;
	padding-top: $headerSize;
	padding-right: $rightSidebarWidth;

	.formbuilder-form-element-selected {
		background: #CCC;
	}
}
#header h1 {
	font-size: 22px;
	font-weight: bold;
}

#leftSidebar {
	.tree {
		min-height:200px;
	}
	ul.dynatree-container {
		background-color: $colorDarkBackground !important;
		color: white !important;
		span.dynatree-active a {
			background-color: $colorHighlight !important;
		}
		a {
			color: white !important;
			&:hover {
				background-color: $colorLighterBackground !important;
			}
		}
	}

	.availableFormElements {
		ul {
			padding-left: 10px;
		}
		ul li {
			cursor: pointer;
			background-color: $colorLighterBackground;

			padding: 3px;
			padding-left: 25px;
			margin-top: 3px;

			position: relative;

			&:before {
				content: '+';
				background: $colorLightBackground;
				width: 20px;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				color: black;
				font-weight: bold;
			}
			&:hover:before {
				background: $colorHighlight;
			}
		}
	}
}

#leftSidebar, #rightSidebar {
	overflow: auto;
	color: white;
	h2 {
		background: $colorLighterBackground;
		padding: 10px;
		font-weight: bold;
	}
	h3 {
		padding: 10px;
		font-weight: bold;
	}

	.context-menu-item {
		color: black;
	}
}

#rightSidebar {
	// Table Styling
	.slick-row {
		.cell-reorder {
			cursor: move;
			background: url(Library/SlickGrid/images/drag-handle.png) no-repeat center center;
		}
		.editor-text {
			width: 100%;
			height: 100%;
			font-size: 15px;
		}
	}





	.form-editor {
		h3 {
			padding-left: 0;
		}
		padding-left: 10px;

		.formBuilder-element {
			input {
				display: block;
				background-color: $colorLighterBackground;
				color: white;
				border: none;
				font-size: 17px;
			}
		}
		&.PropertyGrid, .formBuilder-element {
			label {
				margin-top: 5px;
				font-size: 12px;
				display: block;
			}
		}
	}

	.formbuilder-validator-editor {
		border: 1px solid $colorLighterBackground;
	}
}
