<!DOCTYPE html>
<html>
	{namespace formbuilder=TYPO3\FormBuilder\ViewHelpers}
	<head>
		<f:base />
		<script src="{f:uri.resource(path:'Library/jquery-1.7.1.min.js')}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script src="{f:uri.resource(path:'Library/ember-0.9.4.js')}"></script>
		<script src="{f:uri.resource(path:'Library/dynatree-1.2.0/src/jquery.dynatree.js')}"></script>

		<script src="{f:uri.resource(path:'Library/SlickGrid/lib/jquery.event.drag-2.0.min.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.core.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellrangedecorator.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellrangeselector.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellselectionmodel.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.rowselectionmodel.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.rowmovemanager.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.editors.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.grid.js')}"></script>

		<script src="{f:uri.resource(path:'Library/jQuery-contextMenu/jquery.contextMenu.js')}"></script>

		<link rel="stylesheet" href="{f:uri.resource(path:'style.css')}" />
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/dynatree-1.2.0/src/skin/ui.dynatree.wrapped.css')}" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/SlickGrid/slick.grid.wrapped.css')}" />
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/jQuery-contextMenu/jquery.contextMenu.wrapped.css')}" />

		<script type="text/javascript">
			FORMBUILDER_CONFIGURATION = {formbuilder:jsonConfiguration()};
		</script>

		{handlebarsTemplates -> f:format.raw()}
	</head>
	<body>
		<div id="app">
			<div id="header">
				<script type="text/x-handlebars">
					<h1>Form Builder &mdash; {{TYPO3.FormBuilder.Model.Form.formDefinition.identifier}}</h1>
					<span style="float:right"{{#view Ember.Button target="TYPO3.FormBuilder" action="save"}}Save Changes{{/view}}</span>
				</script>
			</div>
			<div id="content">
				<div id="leftSidebar">
					<div id="leftSidebarInner">
						<script type="text/x-handlebars"><![CDATA[
							{{view TYPO3.FormBuilder.View.FormTree}}
						]]></script>

						<script type="text/x-handlebars"><![CDATA[
							{{view TYPO3.FormBuilder.View.AvailableFormElementsView}}
						]]></script>
					</div>
				</div>
				<div id="main">
					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.FormPageView}}
					]]></script>
				</div>
				<div id="rightSidebar">
					<div id="rightSidebarInner">
						<h2>Element Options</h2>
						<script type="text/x-handlebars"><![CDATA[
							{{view TYPO3.FormBuilder.View.FormElementInspector formElementBinding="TYPO3.FormBuilder.Model.Form.currentlySelectedRenderable"}}
						]]></script>
					</div>
				</div>
			</div>
			<div id="contextMenuContainer"></div>
		</div>
		<script src="{f:uri.resource(path:'JavaScript/app.js')}"></script>
	</body>
</html>