{namespace formbuilder=Neos\FormBuilder\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Form Builder</title>
	<f:base />

	<script type="text/javascript">
		FORMBUILDER_CONFIGURATION = {formbuilder:jsonConfiguration(presetName: presetName)};
	</script>

	<f:for each="{javaScripts}" as="script">
		<f:for each="{script.files}" as="uri">
			<script src="{f:uri.resource(path: uri)}"></script>
		</f:for>
	</f:for>

	<f:for each="{stylesheets}" as="stylesheet">
		<f:for each="{stylesheet.files}" as="uri">
			<link rel="stylesheet" href="{f:uri.resource(path: uri)}" />
		</f:for>
	</f:for>

	{handlebarsTemplates -> f:format.raw()}
</head>
<body>
	<script type="text/x-handlebars"><![CDATA[
		{{view Neos.FormBuilder.View.Application templateName="Application"}}
	]]></script>
</body>
</html>
