<!DOCTYPE html>{namespace formbuilder=TYPO3\FormBuilder\ViewHelpers}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Form Builder</title>
	<f:base />

	<script type="text/javascript">
		FORMBUILDER_CONFIGURATION = {formbuilder:jsonConfiguration(presetName: presetName)};
	</script>

	<f:for each="{javaScripts}" as="script">
		<f:for each="{script.files}" as="uri">
			<script src="{f:uri.resource(uri:uri)}"></script>
		</f:for>
	</f:for>

	<f:for each="{stylesheets}" as="stylesheet">
		<f:for each="{stylesheet.files}" as="uri">
			<link rel="stylesheet" href="{f:uri.resource(uri:uri)}" />
		</f:for>
	</f:for>

	{handlebarsTemplates -> f:format.raw()}
</head>
<body>
	<header id="typo3-formbuilder-header">
		<script type="text/x-handlebars">
			<h1>Form Builder - {{TYPO3.FormBuilder.Model.Form.formDefinition.label}}</h1>
			{{#if TYPO3.FormBuilder.Model.Form.currentlyLoadingPreview}}<span style="width: 60px;height:15px;background:red;position:absolute;z-index: 3000">Loading..</span>{{/if}}
		</script>
		<ul id="typo3-formbuilder-toolbar">
			<li class="typo3-formbuilder-preset">
				<f:link.action action="index" arguments="{formPersistenceIdentifier: formPersistenceIdentifier, presetName: 'bootstrap'}" title="Change preset (TODO: Selector)">Preset: {presetName}</f:link.action>
			</li>
			<li class="typo3-formbuilder-preview">
				<f:link.action controller="FormManager" action="show" target="_blank" arguments="{formPersistenceIdentifier: formPersistenceIdentifier}" title="Preview this form">Preview</f:link.action>
			</li>
			<li class="typo3-formbuilder-save">
				<script type="text/x-handlebars">{{#view TYPO3.FormBuilder.SaveButton}}Save{{/view}}</script>
			</li>
		</ul>
	</header>
	<section id="typo3-formbuilder-stage">
		<script type="text/x-handlebars"><![CDATA[
			{{view TYPO3.FormBuilder.View.FormPageView presetName="]]>{presetName}<![CDATA["}}
		]]></script>
	</section>
	<section id="typo3-formbuilder-elementSidebar">
		<section id="typo3-formbuilder-structurePanel">
			<h2>Structure</h2>
			<script type="text/x-handlebars"><![CDATA[
				{{view TYPO3.FormBuilder.View.FormTree}}
			]]></script>
		</section>
		<section id="typo3-formbuilder-insertElementsPanel">
			<h2>Insert elements</h2>
			<script type="text/x-handlebars"><![CDATA[
				{{view TYPO3.FormBuilder.View.AvailableFormElementsView}}
			]]></script>
		</section>
	</section>
	<section id="typo3-formbuilder-elementOptionsPanel">
		<h2>Element Options</h2>
		<script type="text/x-handlebars"><![CDATA[
			{{view TYPO3.FormBuilder.View.FormElementInspector formElementBinding="TYPO3.FormBuilder.Model.Form.currentlySelectedRenderable"}}
		]]></script>
	</section>
	<footer id="typo3-formbuilder-footer">
		<p>Powered by FLOW3</p>
	</footer>

	<script><![CDATA[
		$(document).ready(function () {
			$('body').layout({
				defaults: {
					minSize: 100,
					spacing_open: 3,
					closable: false,
					slidable: false,
					resizable: true,
					useStateCookie: false
				},
				north: {
					paneSelector: '#typo3-formbuilder-header',
					resizable: false,
					spacing_open: 0,
					minSize: 0
				},
				east: {
					paneSelector:'#typo3-formbuilder-elementOptionsPanel',
					size: 270,
					minSize: 200,
					maxSize: 350
				},
				south: {
					paneSelector: '#typo3-formbuilder-footer',
					resizable: false,
					spacing_open: 0,
					minSize: 0
				},
				west: {
					paneSelector: '#typo3-formbuilder-elementSidebar',
					size: 250,
					minSize: 200,
					maxSize: 350
				},
				center: {
					paneSelector: '#typo3-formbuilder-stage'
				}
			});
			$('#typo3-formbuilder-elementSidebar').layout({
				defaults: {
					minSize: 100,
					closable: false,
					slidable: false,
					resizable: true,
					spacing_open: 5,
					useStateCookie: true
				},
				north: {
					minSize: 100,
					size: 300,
					paneSelector: '#typo3-formbuilder-structurePanel'
				},
				center: {
					paneSelector: '#typo3-formbuilder-insertElementsPanel'
				}
			});
//			$('.typo3-formbuilder').scrollbars({
//				scrollbarAutohide: false
//			});
		});
	]]></script>

</body>
</html>