<div class="formBuilder-element">
	<label>Subject</label>
	{{view Ember.TextField valueBinding="currentCollectionElement.options.subject"}}
</div>

<div class="formBuilder-element">
	<label>Recipient Address</label>
	{{view Ember.TextField valueBinding="currentCollectionElement.options.recipientAddress"}}
</div>

<div class="formBuilder-element">
	<label>Recipient Name</label>
	{{view Ember.TextField valueBinding="currentCollectionElement.options.recipientName"}}
</div>


<div class="formBuilder-element">
	<label>Sender Address</label>
	{{view Ember.TextField valueBinding="currentCollectionElement.options.senderAddress"}}
</div>

<div class="formBuilder-element">
	<label>Sender Address</label>
	{{view Ember.TextField valueBinding="currentCollectionElement.options.senderName"}}
</div>

<div class="formBuilder-element">
	<label>Reply-To Address</label>
	{{view Ember.TextField valueBinding="currentCollectionElement.options.replyToAddress"}}
</div>

<div class="formBuilder-element">
	<label>Format</label>
	{{view Ember.Select contentBinding="availableFormats" optionValuePath="content.key" optionLabelPath="content.value" selectionBinding="format"}}
</div>

{{#view Ember.Button target="parentView" action="remove" isVisibleBinding="notRequired"}}Remove{{/view}}