<h4>{{label}}{{#view Ember.Button target="parentView" action="remove" isVisibleBinding="notRequired"}}Remove{{/view}}</h4>

<div class="typo3-formbuilder-controlGroup">
	<label>Minimum:</label>
	<div class="typo3-formbuilder-controls">
		{{view TYPO3.FormBuilder.TextField validatedValueBinding="minimum" validatorName="TYPO3.FormBuilder.Validators.isNumberOrBlank" }}
	</div>
</div>

<div class="typo3-formbuilder-controlGroup">
	<label>Maximum:</label>
	<div class="typo3-formbuilder-controls">
		{{view TYPO3.FormBuilder.TextField validatedValueBinding="maximum" validatorName="TYPO3.FormBuilder.Validators.isNumberOrBlank" }}
	</div>
</div>