/**
 * Global Variables
 */
#typo3-formbuilder-header,
#typo3-formbuilder-elementSidebar,
#typo3-formbuilder-elementOptionsPanel,
#typo3-formbuilder-footer {
  font-family: Arial, sans-serif; }
  #typo3-formbuilder-header html, #typo3-formbuilder-header body, #typo3-formbuilder-header div, #typo3-formbuilder-header span, #typo3-formbuilder-header applet, #typo3-formbuilder-header object, #typo3-formbuilder-header iframe,
  #typo3-formbuilder-header h1, #typo3-formbuilder-header h2, #typo3-formbuilder-header h3, #typo3-formbuilder-header h4, #typo3-formbuilder-header h5, #typo3-formbuilder-header h6, #typo3-formbuilder-header p, #typo3-formbuilder-header blockquote, #typo3-formbuilder-header pre,
  #typo3-formbuilder-header a, #typo3-formbuilder-header abbr, #typo3-formbuilder-header acronym, #typo3-formbuilder-header address, #typo3-formbuilder-header big, #typo3-formbuilder-header cite, #typo3-formbuilder-header code,
  #typo3-formbuilder-header del, #typo3-formbuilder-header dfn, #typo3-formbuilder-header em, #typo3-formbuilder-header img, #typo3-formbuilder-header ins, #typo3-formbuilder-header kbd, #typo3-formbuilder-header q, #typo3-formbuilder-header s, #typo3-formbuilder-header samp,
  #typo3-formbuilder-header small, #typo3-formbuilder-header strike, #typo3-formbuilder-header strong, #typo3-formbuilder-header sub, #typo3-formbuilder-header sup, #typo3-formbuilder-header tt, #typo3-formbuilder-header var,
  #typo3-formbuilder-header b, #typo3-formbuilder-header u, #typo3-formbuilder-header i, #typo3-formbuilder-header center,
  #typo3-formbuilder-header dl, #typo3-formbuilder-header dt, #typo3-formbuilder-header dd, #typo3-formbuilder-header ol, #typo3-formbuilder-header ul, #typo3-formbuilder-header li,
  #typo3-formbuilder-header fieldset, #typo3-formbuilder-header form, #typo3-formbuilder-header label, #typo3-formbuilder-header legend,
  #typo3-formbuilder-header table, #typo3-formbuilder-header caption, #typo3-formbuilder-header tbody, #typo3-formbuilder-header tfoot, #typo3-formbuilder-header thead, #typo3-formbuilder-header tr, #typo3-formbuilder-header th, #typo3-formbuilder-header td,
  #typo3-formbuilder-header article, #typo3-formbuilder-header aside, #typo3-formbuilder-header canvas, #typo3-formbuilder-header details, #typo3-formbuilder-header embed,
  #typo3-formbuilder-header figure, #typo3-formbuilder-header figcaption, #typo3-formbuilder-header footer, #typo3-formbuilder-header header, #typo3-formbuilder-header hgroup,
  #typo3-formbuilder-header menu, #typo3-formbuilder-header nav, #typo3-formbuilder-header output, #typo3-formbuilder-header ruby, #typo3-formbuilder-header section, #typo3-formbuilder-header summary,
  #typo3-formbuilder-header time, #typo3-formbuilder-header mark, #typo3-formbuilder-header audio, #typo3-formbuilder-header video,
  #typo3-formbuilder-elementSidebar html,
  #typo3-formbuilder-elementSidebar body,
  #typo3-formbuilder-elementSidebar div,
  #typo3-formbuilder-elementSidebar span,
  #typo3-formbuilder-elementSidebar applet,
  #typo3-formbuilder-elementSidebar object,
  #typo3-formbuilder-elementSidebar iframe,
  #typo3-formbuilder-elementSidebar h1,
  #typo3-formbuilder-elementSidebar h2,
  #typo3-formbuilder-elementSidebar h3,
  #typo3-formbuilder-elementSidebar h4,
  #typo3-formbuilder-elementSidebar h5,
  #typo3-formbuilder-elementSidebar h6,
  #typo3-formbuilder-elementSidebar p,
  #typo3-formbuilder-elementSidebar blockquote,
  #typo3-formbuilder-elementSidebar pre,
  #typo3-formbuilder-elementSidebar a,
  #typo3-formbuilder-elementSidebar abbr,
  #typo3-formbuilder-elementSidebar acronym,
  #typo3-formbuilder-elementSidebar address,
  #typo3-formbuilder-elementSidebar big,
  #typo3-formbuilder-elementSidebar cite,
  #typo3-formbuilder-elementSidebar code,
  #typo3-formbuilder-elementSidebar del,
  #typo3-formbuilder-elementSidebar dfn,
  #typo3-formbuilder-elementSidebar em,
  #typo3-formbuilder-elementSidebar img,
  #typo3-formbuilder-elementSidebar ins,
  #typo3-formbuilder-elementSidebar kbd,
  #typo3-formbuilder-elementSidebar q,
  #typo3-formbuilder-elementSidebar s,
  #typo3-formbuilder-elementSidebar samp,
  #typo3-formbuilder-elementSidebar small,
  #typo3-formbuilder-elementSidebar strike,
  #typo3-formbuilder-elementSidebar strong,
  #typo3-formbuilder-elementSidebar sub,
  #typo3-formbuilder-elementSidebar sup,
  #typo3-formbuilder-elementSidebar tt,
  #typo3-formbuilder-elementSidebar var,
  #typo3-formbuilder-elementSidebar b,
  #typo3-formbuilder-elementSidebar u,
  #typo3-formbuilder-elementSidebar i,
  #typo3-formbuilder-elementSidebar center,
  #typo3-formbuilder-elementSidebar dl,
  #typo3-formbuilder-elementSidebar dt,
  #typo3-formbuilder-elementSidebar dd,
  #typo3-formbuilder-elementSidebar ol,
  #typo3-formbuilder-elementSidebar ul,
  #typo3-formbuilder-elementSidebar li,
  #typo3-formbuilder-elementSidebar fieldset,
  #typo3-formbuilder-elementSidebar form,
  #typo3-formbuilder-elementSidebar label,
  #typo3-formbuilder-elementSidebar legend,
  #typo3-formbuilder-elementSidebar table,
  #typo3-formbuilder-elementSidebar caption,
  #typo3-formbuilder-elementSidebar tbody,
  #typo3-formbuilder-elementSidebar tfoot,
  #typo3-formbuilder-elementSidebar thead,
  #typo3-formbuilder-elementSidebar tr,
  #typo3-formbuilder-elementSidebar th,
  #typo3-formbuilder-elementSidebar td,
  #typo3-formbuilder-elementSidebar article,
  #typo3-formbuilder-elementSidebar aside,
  #typo3-formbuilder-elementSidebar canvas,
  #typo3-formbuilder-elementSidebar details,
  #typo3-formbuilder-elementSidebar embed,
  #typo3-formbuilder-elementSidebar figure,
  #typo3-formbuilder-elementSidebar figcaption,
  #typo3-formbuilder-elementSidebar footer,
  #typo3-formbuilder-elementSidebar header,
  #typo3-formbuilder-elementSidebar hgroup,
  #typo3-formbuilder-elementSidebar menu,
  #typo3-formbuilder-elementSidebar nav,
  #typo3-formbuilder-elementSidebar output,
  #typo3-formbuilder-elementSidebar ruby,
  #typo3-formbuilder-elementSidebar section,
  #typo3-formbuilder-elementSidebar summary,
  #typo3-formbuilder-elementSidebar time,
  #typo3-formbuilder-elementSidebar mark,
  #typo3-formbuilder-elementSidebar audio,
  #typo3-formbuilder-elementSidebar video,
  #typo3-formbuilder-elementOptionsPanel html,
  #typo3-formbuilder-elementOptionsPanel body,
  #typo3-formbuilder-elementOptionsPanel div,
  #typo3-formbuilder-elementOptionsPanel span,
  #typo3-formbuilder-elementOptionsPanel applet,
  #typo3-formbuilder-elementOptionsPanel object,
  #typo3-formbuilder-elementOptionsPanel iframe,
  #typo3-formbuilder-elementOptionsPanel h1,
  #typo3-formbuilder-elementOptionsPanel h2,
  #typo3-formbuilder-elementOptionsPanel h3,
  #typo3-formbuilder-elementOptionsPanel h4,
  #typo3-formbuilder-elementOptionsPanel h5,
  #typo3-formbuilder-elementOptionsPanel h6,
  #typo3-formbuilder-elementOptionsPanel p,
  #typo3-formbuilder-elementOptionsPanel blockquote,
  #typo3-formbuilder-elementOptionsPanel pre,
  #typo3-formbuilder-elementOptionsPanel a,
  #typo3-formbuilder-elementOptionsPanel abbr,
  #typo3-formbuilder-elementOptionsPanel acronym,
  #typo3-formbuilder-elementOptionsPanel address,
  #typo3-formbuilder-elementOptionsPanel big,
  #typo3-formbuilder-elementOptionsPanel cite,
  #typo3-formbuilder-elementOptionsPanel code,
  #typo3-formbuilder-elementOptionsPanel del,
  #typo3-formbuilder-elementOptionsPanel dfn,
  #typo3-formbuilder-elementOptionsPanel em,
  #typo3-formbuilder-elementOptionsPanel img,
  #typo3-formbuilder-elementOptionsPanel ins,
  #typo3-formbuilder-elementOptionsPanel kbd,
  #typo3-formbuilder-elementOptionsPanel q,
  #typo3-formbuilder-elementOptionsPanel s,
  #typo3-formbuilder-elementOptionsPanel samp,
  #typo3-formbuilder-elementOptionsPanel small,
  #typo3-formbuilder-elementOptionsPanel strike,
  #typo3-formbuilder-elementOptionsPanel strong,
  #typo3-formbuilder-elementOptionsPanel sub,
  #typo3-formbuilder-elementOptionsPanel sup,
  #typo3-formbuilder-elementOptionsPanel tt,
  #typo3-formbuilder-elementOptionsPanel var,
  #typo3-formbuilder-elementOptionsPanel b,
  #typo3-formbuilder-elementOptionsPanel u,
  #typo3-formbuilder-elementOptionsPanel i,
  #typo3-formbuilder-elementOptionsPanel center,
  #typo3-formbuilder-elementOptionsPanel dl,
  #typo3-formbuilder-elementOptionsPanel dt,
  #typo3-formbuilder-elementOptionsPanel dd,
  #typo3-formbuilder-elementOptionsPanel ol,
  #typo3-formbuilder-elementOptionsPanel ul,
  #typo3-formbuilder-elementOptionsPanel li,
  #typo3-formbuilder-elementOptionsPanel fieldset,
  #typo3-formbuilder-elementOptionsPanel form,
  #typo3-formbuilder-elementOptionsPanel label,
  #typo3-formbuilder-elementOptionsPanel legend,
  #typo3-formbuilder-elementOptionsPanel table,
  #typo3-formbuilder-elementOptionsPanel caption,
  #typo3-formbuilder-elementOptionsPanel tbody,
  #typo3-formbuilder-elementOptionsPanel tfoot,
  #typo3-formbuilder-elementOptionsPanel thead,
  #typo3-formbuilder-elementOptionsPanel tr,
  #typo3-formbuilder-elementOptionsPanel th,
  #typo3-formbuilder-elementOptionsPanel td,
  #typo3-formbuilder-elementOptionsPanel article,
  #typo3-formbuilder-elementOptionsPanel aside,
  #typo3-formbuilder-elementOptionsPanel canvas,
  #typo3-formbuilder-elementOptionsPanel details,
  #typo3-formbuilder-elementOptionsPanel embed,
  #typo3-formbuilder-elementOptionsPanel figure,
  #typo3-formbuilder-elementOptionsPanel figcaption,
  #typo3-formbuilder-elementOptionsPanel footer,
  #typo3-formbuilder-elementOptionsPanel header,
  #typo3-formbuilder-elementOptionsPanel hgroup,
  #typo3-formbuilder-elementOptionsPanel menu,
  #typo3-formbuilder-elementOptionsPanel nav,
  #typo3-formbuilder-elementOptionsPanel output,
  #typo3-formbuilder-elementOptionsPanel ruby,
  #typo3-formbuilder-elementOptionsPanel section,
  #typo3-formbuilder-elementOptionsPanel summary,
  #typo3-formbuilder-elementOptionsPanel time,
  #typo3-formbuilder-elementOptionsPanel mark,
  #typo3-formbuilder-elementOptionsPanel audio,
  #typo3-formbuilder-elementOptionsPanel video,
  #typo3-formbuilder-footer html,
  #typo3-formbuilder-footer body,
  #typo3-formbuilder-footer div,
  #typo3-formbuilder-footer span,
  #typo3-formbuilder-footer applet,
  #typo3-formbuilder-footer object,
  #typo3-formbuilder-footer iframe,
  #typo3-formbuilder-footer h1,
  #typo3-formbuilder-footer h2,
  #typo3-formbuilder-footer h3,
  #typo3-formbuilder-footer h4,
  #typo3-formbuilder-footer h5,
  #typo3-formbuilder-footer h6,
  #typo3-formbuilder-footer p,
  #typo3-formbuilder-footer blockquote,
  #typo3-formbuilder-footer pre,
  #typo3-formbuilder-footer a,
  #typo3-formbuilder-footer abbr,
  #typo3-formbuilder-footer acronym,
  #typo3-formbuilder-footer address,
  #typo3-formbuilder-footer big,
  #typo3-formbuilder-footer cite,
  #typo3-formbuilder-footer code,
  #typo3-formbuilder-footer del,
  #typo3-formbuilder-footer dfn,
  #typo3-formbuilder-footer em,
  #typo3-formbuilder-footer img,
  #typo3-formbuilder-footer ins,
  #typo3-formbuilder-footer kbd,
  #typo3-formbuilder-footer q,
  #typo3-formbuilder-footer s,
  #typo3-formbuilder-footer samp,
  #typo3-formbuilder-footer small,
  #typo3-formbuilder-footer strike,
  #typo3-formbuilder-footer strong,
  #typo3-formbuilder-footer sub,
  #typo3-formbuilder-footer sup,
  #typo3-formbuilder-footer tt,
  #typo3-formbuilder-footer var,
  #typo3-formbuilder-footer b,
  #typo3-formbuilder-footer u,
  #typo3-formbuilder-footer i,
  #typo3-formbuilder-footer center,
  #typo3-formbuilder-footer dl,
  #typo3-formbuilder-footer dt,
  #typo3-formbuilder-footer dd,
  #typo3-formbuilder-footer ol,
  #typo3-formbuilder-footer ul,
  #typo3-formbuilder-footer li,
  #typo3-formbuilder-footer fieldset,
  #typo3-formbuilder-footer form,
  #typo3-formbuilder-footer label,
  #typo3-formbuilder-footer legend,
  #typo3-formbuilder-footer table,
  #typo3-formbuilder-footer caption,
  #typo3-formbuilder-footer tbody,
  #typo3-formbuilder-footer tfoot,
  #typo3-formbuilder-footer thead,
  #typo3-formbuilder-footer tr,
  #typo3-formbuilder-footer th,
  #typo3-formbuilder-footer td,
  #typo3-formbuilder-footer article,
  #typo3-formbuilder-footer aside,
  #typo3-formbuilder-footer canvas,
  #typo3-formbuilder-footer details,
  #typo3-formbuilder-footer embed,
  #typo3-formbuilder-footer figure,
  #typo3-formbuilder-footer figcaption,
  #typo3-formbuilder-footer footer,
  #typo3-formbuilder-footer header,
  #typo3-formbuilder-footer hgroup,
  #typo3-formbuilder-footer menu,
  #typo3-formbuilder-footer nav,
  #typo3-formbuilder-footer output,
  #typo3-formbuilder-footer ruby,
  #typo3-formbuilder-footer section,
  #typo3-formbuilder-footer summary,
  #typo3-formbuilder-footer time,
  #typo3-formbuilder-footer mark,
  #typo3-formbuilder-footer audio,
  #typo3-formbuilder-footer video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  #typo3-formbuilder-header body,
  #typo3-formbuilder-elementSidebar body,
  #typo3-formbuilder-elementOptionsPanel body,
  #typo3-formbuilder-footer body {
    line-height: 1; }
  #typo3-formbuilder-header ol, #typo3-formbuilder-header ul,
  #typo3-formbuilder-elementSidebar ol,
  #typo3-formbuilder-elementSidebar ul,
  #typo3-formbuilder-elementOptionsPanel ol,
  #typo3-formbuilder-elementOptionsPanel ul,
  #typo3-formbuilder-footer ol,
  #typo3-formbuilder-footer ul {
    list-style: none; }
  #typo3-formbuilder-header table,
  #typo3-formbuilder-elementSidebar table,
  #typo3-formbuilder-elementOptionsPanel table,
  #typo3-formbuilder-footer table {
    border-collapse: collapse;
    border-spacing: 0; }
  #typo3-formbuilder-header caption, #typo3-formbuilder-header th, #typo3-formbuilder-header td,
  #typo3-formbuilder-elementSidebar caption,
  #typo3-formbuilder-elementSidebar th,
  #typo3-formbuilder-elementSidebar td,
  #typo3-formbuilder-elementOptionsPanel caption,
  #typo3-formbuilder-elementOptionsPanel th,
  #typo3-formbuilder-elementOptionsPanel td,
  #typo3-formbuilder-footer caption,
  #typo3-formbuilder-footer th,
  #typo3-formbuilder-footer td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }
  #typo3-formbuilder-header q, #typo3-formbuilder-header blockquote,
  #typo3-formbuilder-elementSidebar q,
  #typo3-formbuilder-elementSidebar blockquote,
  #typo3-formbuilder-elementOptionsPanel q,
  #typo3-formbuilder-elementOptionsPanel blockquote,
  #typo3-formbuilder-footer q,
  #typo3-formbuilder-footer blockquote {
    quotes: none; }
    #typo3-formbuilder-header q:before, #typo3-formbuilder-header q:after, #typo3-formbuilder-header blockquote:before, #typo3-formbuilder-header blockquote:after,
    #typo3-formbuilder-elementSidebar q:before,
    #typo3-formbuilder-elementSidebar q:after,
    #typo3-formbuilder-elementSidebar blockquote:before,
    #typo3-formbuilder-elementSidebar blockquote:after,
    #typo3-formbuilder-elementOptionsPanel q:before,
    #typo3-formbuilder-elementOptionsPanel q:after,
    #typo3-formbuilder-elementOptionsPanel blockquote:before,
    #typo3-formbuilder-elementOptionsPanel blockquote:after,
    #typo3-formbuilder-footer q:before,
    #typo3-formbuilder-footer q:after,
    #typo3-formbuilder-footer blockquote:before,
    #typo3-formbuilder-footer blockquote:after {
      content: "";
      content: none; }
  #typo3-formbuilder-header a img,
  #typo3-formbuilder-elementSidebar a img,
  #typo3-formbuilder-elementOptionsPanel a img,
  #typo3-formbuilder-footer a img {
    border: none; }
  #typo3-formbuilder-header article, #typo3-formbuilder-header aside, #typo3-formbuilder-header details, #typo3-formbuilder-header figcaption, #typo3-formbuilder-header figure, #typo3-formbuilder-header footer, #typo3-formbuilder-header header, #typo3-formbuilder-header hgroup, #typo3-formbuilder-header menu, #typo3-formbuilder-header nav, #typo3-formbuilder-header section, #typo3-formbuilder-header summary,
  #typo3-formbuilder-elementSidebar article,
  #typo3-formbuilder-elementSidebar aside,
  #typo3-formbuilder-elementSidebar details,
  #typo3-formbuilder-elementSidebar figcaption,
  #typo3-formbuilder-elementSidebar figure,
  #typo3-formbuilder-elementSidebar footer,
  #typo3-formbuilder-elementSidebar header,
  #typo3-formbuilder-elementSidebar hgroup,
  #typo3-formbuilder-elementSidebar menu,
  #typo3-formbuilder-elementSidebar nav,
  #typo3-formbuilder-elementSidebar section,
  #typo3-formbuilder-elementSidebar summary,
  #typo3-formbuilder-elementOptionsPanel article,
  #typo3-formbuilder-elementOptionsPanel aside,
  #typo3-formbuilder-elementOptionsPanel details,
  #typo3-formbuilder-elementOptionsPanel figcaption,
  #typo3-formbuilder-elementOptionsPanel figure,
  #typo3-formbuilder-elementOptionsPanel footer,
  #typo3-formbuilder-elementOptionsPanel header,
  #typo3-formbuilder-elementOptionsPanel hgroup,
  #typo3-formbuilder-elementOptionsPanel menu,
  #typo3-formbuilder-elementOptionsPanel nav,
  #typo3-formbuilder-elementOptionsPanel section,
  #typo3-formbuilder-elementOptionsPanel summary,
  #typo3-formbuilder-footer article,
  #typo3-formbuilder-footer aside,
  #typo3-formbuilder-footer details,
  #typo3-formbuilder-footer figcaption,
  #typo3-formbuilder-footer figure,
  #typo3-formbuilder-footer footer,
  #typo3-formbuilder-footer header,
  #typo3-formbuilder-footer hgroup,
  #typo3-formbuilder-footer menu,
  #typo3-formbuilder-footer nav,
  #typo3-formbuilder-footer section,
  #typo3-formbuilder-footer summary {
    display: block; }
  #typo3-formbuilder-header h1, #typo3-formbuilder-header h2, #typo3-formbuilder-header h3, #typo3-formbuilder-header h4, #typo3-formbuilder-header h5, #typo3-formbuilder-header h6, #typo3-formbuilder-header li,
  #typo3-formbuilder-elementSidebar h1,
  #typo3-formbuilder-elementSidebar h2,
  #typo3-formbuilder-elementSidebar h3,
  #typo3-formbuilder-elementSidebar h4,
  #typo3-formbuilder-elementSidebar h5,
  #typo3-formbuilder-elementSidebar h6,
  #typo3-formbuilder-elementSidebar li,
  #typo3-formbuilder-elementOptionsPanel h1,
  #typo3-formbuilder-elementOptionsPanel h2,
  #typo3-formbuilder-elementOptionsPanel h3,
  #typo3-formbuilder-elementOptionsPanel h4,
  #typo3-formbuilder-elementOptionsPanel h5,
  #typo3-formbuilder-elementOptionsPanel h6,
  #typo3-formbuilder-elementOptionsPanel li,
  #typo3-formbuilder-footer h1,
  #typo3-formbuilder-footer h2,
  #typo3-formbuilder-footer h3,
  #typo3-formbuilder-footer h4,
  #typo3-formbuilder-footer h5,
  #typo3-formbuilder-footer h6,
  #typo3-formbuilder-footer li {
    color: white; }
  #typo3-formbuilder-header label,
  #typo3-formbuilder-elementSidebar label,
  #typo3-formbuilder-elementOptionsPanel label,
  #typo3-formbuilder-footer label {
    color: white;
    text-align: left;
    float: none; }
  #typo3-formbuilder-header input, #typo3-formbuilder-header textarea, #typo3-formbuilder-header select,
  #typo3-formbuilder-elementSidebar input,
  #typo3-formbuilder-elementSidebar textarea,
  #typo3-formbuilder-elementSidebar select,
  #typo3-formbuilder-elementOptionsPanel input,
  #typo3-formbuilder-elementOptionsPanel textarea,
  #typo3-formbuilder-elementOptionsPanel select,
  #typo3-formbuilder-footer input,
  #typo3-formbuilder-footer textarea,
  #typo3-formbuilder-footer select {
    width: inherit;
    height: inherit;
    padding: 0;
    box-shadow: none;
    border-radius: 0; }
  #typo3-formbuilder-header button,
  #typo3-formbuilder-elementSidebar button,
  #typo3-formbuilder-elementOptionsPanel button,
  #typo3-formbuilder-footer button {
    padding: 2px 0;
    color: white;
    border: none;
    background: none;
    text-align: left; }

/** ELEMENT STRUCTURE DEFAULTS **/
span.dynatree-icon:before {
  background: transparent url("../Images/glyphicons-halflings-white.png") -24px -24px no-repeat;
  content: ' ';
  position: absolute;
  margin: 2px 0 0 -17px;
  height: 14px;
  width: 14px; }

.dynatree-ico-cf span.dynatree-icon:before {
  background: transparent url("../Images/glyphicons-halflings-white.png") -384px -120px no-repeat;
  content: ' ';
  position: absolute;
  margin: 2px 0 0 -17px;
  height: 14px;
  width: 14px; }

/** ELEMENT ICONS **/
.typo3-formbuilder-group-input *:before {
  background-position: -96px -72px !important; }

.typo3-formbuilder-group-select *:before {
  background-position: -264px -24px !important; }

.typo3-formbuilder-type-typo3-form-checkbox *:before {
  background-position: -144px -72px !important; }

.typo3-formbuilder-group-custom *:before {
  background-position: -24px -120px !important; }

.typo3-formbuilder-type-typo3-form-datepicker *:before {
  background-position: -192px -120px !important; }

.typo3-formbuilder-type-typo3-form-fileupload *:before {
  background-position: -144px -24px !important; }

.typo3-formbuilder-type-typo3-form-imageupload *:before {
  background-position: -456px -48px !important; }

.typo3-formbuilder-type-typo3-form-statictext *:before {
  background-position: -264px -48px !important; }

.typo3-formbuilder-group-container *:before {
  background-position: -408px -120px !important; }

.typo3-formbuilder-type-typo3-form-page *:before,
.typo3-formbuilder-type-typo3-form-previewpage *:before {
  background-position: -24px -24px !important; }

#typo3-formbuilder-header,
#typo3-formbuilder-elementSidebar,
#typo3-formbuilder-elementOptionsPanel,
#typo3-formbuilder-footer {
  line-height: normal; }
  #typo3-formbuilder-header label,
  #typo3-formbuilder-elementSidebar label,
  #typo3-formbuilder-elementOptionsPanel label,
  #typo3-formbuilder-footer label {
    color: white; }
  #typo3-formbuilder-header select,
  #typo3-formbuilder-header textarea,
  #typo3-formbuilder-header input,
  #typo3-formbuilder-elementSidebar select,
  #typo3-formbuilder-elementSidebar textarea,
  #typo3-formbuilder-elementSidebar input,
  #typo3-formbuilder-elementOptionsPanel select,
  #typo3-formbuilder-elementOptionsPanel textarea,
  #typo3-formbuilder-elementOptionsPanel input,
  #typo3-formbuilder-footer select,
  #typo3-formbuilder-footer textarea,
  #typo3-formbuilder-footer input {
    color: #474747;
    background: #ddd;
    border: 1px solid #777; }
  #typo3-formbuilder-header select,
  #typo3-formbuilder-elementSidebar select,
  #typo3-formbuilder-elementOptionsPanel select,
  #typo3-formbuilder-footer select {
    display: inline;
    font-size: 12px; }
  #typo3-formbuilder-header input, #typo3-formbuilder-header textarea,
  #typo3-formbuilder-elementSidebar input,
  #typo3-formbuilder-elementSidebar textarea,
  #typo3-formbuilder-elementOptionsPanel input,
  #typo3-formbuilder-elementOptionsPanel textarea,
  #typo3-formbuilder-footer input,
  #typo3-formbuilder-footer textarea {
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    width: inherit;
    height: inherit;
    padding: 1px 2px;
    font-size: 12px; }
    #typo3-formbuilder-header input:focus, #typo3-formbuilder-header textarea:focus,
    #typo3-formbuilder-elementSidebar input:focus,
    #typo3-formbuilder-elementSidebar textarea:focus,
    #typo3-formbuilder-elementOptionsPanel input:focus,
    #typo3-formbuilder-elementOptionsPanel textarea:focus,
    #typo3-formbuilder-footer input:focus,
    #typo3-formbuilder-footer textarea:focus {
      outline: 0;
      border: 1px solid #ff8700;
      background: white;
      color: black;
      -moz-box-shadow: #ff8700 0 0 5px;
      -webkit-box-shadow: #ff8700 0 0 5px;
      -o-box-shadow: #ff8700 0 0 5px;
      box-shadow: #ff8700 0 0 5px; }
  #typo3-formbuilder-header .typo3-formbuilder-button,
  #typo3-formbuilder-elementSidebar .typo3-formbuilder-button,
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button,
  #typo3-formbuilder-footer .typo3-formbuilder-button {
    display: inline-block;
    padding: 4px 5px;
    font-size: 12px;
    line-height: 12px;
    color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#555555, #333333);
    background-image: -moz-linear-gradient(#555555, #333333);
    background-image: -o-linear-gradient(#555555, #333333);
    background-image: -ms-linear-gradient(#555555, #333333);
    background-image: linear-gradient(#555555, #333333);
    text-align: center;
    text-shadow: 0 1px 1px rgba(15, 15, 15, 0.95);
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
    #typo3-formbuilder-header .typo3-formbuilder-button:hover,
    #typo3-formbuilder-elementSidebar .typo3-formbuilder-button:hover,
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button:hover,
    #typo3-formbuilder-footer .typo3-formbuilder-button:hover {
      text-shadow: 0 0 1px rgba(155, 155, 155, 0.75);
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
      background-image: -webkit-linear-gradient(#666666, #333333);
      background-image: -moz-linear-gradient(#666666, #333333);
      background-image: -o-linear-gradient(#666666, #333333);
      background-image: -ms-linear-gradient(#666666, #333333);
      background-image: linear-gradient(#666666, #333333); }
    #typo3-formbuilder-header .typo3-formbuilder-button.active, #typo3-formbuilder-header .typo3-formbuilder-button:active,
    #typo3-formbuilder-elementSidebar .typo3-formbuilder-button.active,
    #typo3-formbuilder-elementSidebar .typo3-formbuilder-button:active,
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button.active,
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button:active,
    #typo3-formbuilder-footer .typo3-formbuilder-button.active,
    #typo3-formbuilder-footer .typo3-formbuilder-button:active {
      background-image: none;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.05);
      background-color: #555;
      text-shadow: none;
      color: rgba(0, 0, 0, 0.5);
      outline: 0; }
    #typo3-formbuilder-header .typo3-formbuilder-button.icon,
    #typo3-formbuilder-elementSidebar .typo3-formbuilder-button.icon,
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button.icon,
    #typo3-formbuilder-footer .typo3-formbuilder-button.icon {
      padding-left: 21px; }
      #typo3-formbuilder-header .typo3-formbuilder-button.icon:before,
      #typo3-formbuilder-elementSidebar .typo3-formbuilder-button.icon:before,
      #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button.icon:before,
      #typo3-formbuilder-footer .typo3-formbuilder-button.icon:before {
        background: transparent url("../Images/glyphicons-halflings-white.png") -432px 0 no-repeat;
        content: ' ';
        position: absolute;
        margin: 2px 0 0 -17px;
        height: 14px;
        width: 14px; }
      #typo3-formbuilder-header .typo3-formbuilder-button.icon:before,
      #typo3-formbuilder-elementSidebar .typo3-formbuilder-button.icon:before,
      #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button.icon:before,
      #typo3-formbuilder-footer .typo3-formbuilder-button.icon:before {
        margin-top: 0; }
    #typo3-formbuilder-header .typo3-formbuilder-button.danger,
    #typo3-formbuilder-elementSidebar .typo3-formbuilder-button.danger,
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button.danger,
    #typo3-formbuilder-footer .typo3-formbuilder-button.danger {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a4848), color-stop(100%, #634444));
      background-image: -webkit-linear-gradient(#7a4848, #634444);
      background-image: -moz-linear-gradient(#7a4848, #634444);
      background-image: -o-linear-gradient(#7a4848, #634444);
      background-image: -ms-linear-gradient(#7a4848, #634444);
      background-image: linear-gradient(#7a4848, #634444); }
      #typo3-formbuilder-header .typo3-formbuilder-button.danger:hover,
      #typo3-formbuilder-elementSidebar .typo3-formbuilder-button.danger:hover,
      #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-button.danger:hover,
      #typo3-formbuilder-footer .typo3-formbuilder-button.danger:hover {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9b3939), color-stop(100%, #634444));
        background-image: -webkit-linear-gradient(#9b3939, #634444);
        background-image: -moz-linear-gradient(#9b3939, #634444);
        background-image: -o-linear-gradient(#9b3939, #634444);
        background-image: -ms-linear-gradient(#9b3939, #634444);
        background-image: linear-gradient(#9b3939, #634444); }

/*
 * jQuery UI CSS Framework 1.8.17
 */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666666;
  opacity: .70;
  filter: Alpha(Opacity=70); }

.typo3-formbuilder-dialog {
  position: absolute;
  width: 300px;
  overflow: hidden;
  border: 1px solid #dddddd;
  background: #eee;
  color: #333333;
  border-radius: 3px;
  /*
   * jQuery UI CSS Framework 1.8.17
   *
   * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
   * Dual licensed under the MIT or GPL Version 2 licenses.
   * http://jquery.org/license
   *
   * http://docs.jquery.com/UI/Theming/API
   *
   * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
   */
  /* Component containers
  ----------------------------------*/
  /* Misc visuals
  ----------------------------------*/
  /* Corner radius */
  /*
  * jQuery UI Dialog 1.8.17
  *
  * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
  * Dual licensed under the MIT or GPL Version 2 licenses.
  * http://jquery.org/license
  *
  * http://docs.jquery.com/UI/Dialog#theming
  */ }
  .typo3-formbuilder-dialog .ui-helper-hidden {
    display: none; }
  .typo3-formbuilder-dialog .ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none; }
  .typo3-formbuilder-dialog .ui-helper-clearfix:before, .typo3-formbuilder-dialog .ui-helper-clearfix:after {
    content: "";
    display: table; }
  .typo3-formbuilder-dialog .ui-helper-clearfix:after {
    clear: both; }
  .typo3-formbuilder-dialog .ui-helper-clearfix {
    zoom: 1; }
  .typo3-formbuilder-dialog .ui-icon-closethick {
    background: transparent url("../Images/glyphicons-halflings.png") -312px 0 no-repeat;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    overflow: hidden; }
  .typo3-formbuilder-dialog input, .typo3-formbuilder-dialog select, .typo3-formbuilder-dialog textarea, .typo3-formbuilder-dialog button {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1em; }
  .typo3-formbuilder-dialog button {
    display: inline-block;
    padding: 4px 5px;
    font-size: 12px;
    line-height: 12px;
    color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
    background-image: -webkit-linear-gradient(#555555, #333333);
    background-image: -moz-linear-gradient(#555555, #333333);
    background-image: -o-linear-gradient(#555555, #333333);
    background-image: -ms-linear-gradient(#555555, #333333);
    background-image: linear-gradient(#555555, #333333);
    text-align: center;
    text-shadow: 0 1px 1px rgba(15, 15, 15, 0.95);
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
    .typo3-formbuilder-dialog button:hover {
      text-shadow: 0 0 1px rgba(155, 155, 155, 0.75);
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
      background-image: -webkit-linear-gradient(#666666, #333333);
      background-image: -moz-linear-gradient(#666666, #333333);
      background-image: -o-linear-gradient(#666666, #333333);
      background-image: -ms-linear-gradient(#666666, #333333);
      background-image: linear-gradient(#666666, #333333); }
    .typo3-formbuilder-dialog button.active, .typo3-formbuilder-dialog button:active {
      background-image: none;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.05);
      background-color: #555;
      text-shadow: none;
      color: rgba(0, 0, 0, 0.5);
      outline: 0; }
    .typo3-formbuilder-dialog button.icon {
      padding-left: 21px; }
      .typo3-formbuilder-dialog button.icon:before {
        background: transparent url("../Images/glyphicons-halflings-white.png") -432px 0 no-repeat;
        content: ' ';
        position: absolute;
        margin: 2px 0 0 -17px;
        height: 14px;
        width: 14px; }
      .typo3-formbuilder-dialog button.icon:before {
        margin-top: 0; }
    .typo3-formbuilder-dialog button.danger {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7a4848), color-stop(100%, #634444));
      background-image: -webkit-linear-gradient(#7a4848, #634444);
      background-image: -moz-linear-gradient(#7a4848, #634444);
      background-image: -o-linear-gradient(#7a4848, #634444);
      background-image: -ms-linear-gradient(#7a4848, #634444);
      background-image: linear-gradient(#7a4848, #634444); }
      .typo3-formbuilder-dialog button.danger:hover {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9b3939), color-stop(100%, #634444));
        background-image: -webkit-linear-gradient(#9b3939, #634444);
        background-image: -moz-linear-gradient(#9b3939, #634444);
        background-image: -o-linear-gradient(#9b3939, #634444);
        background-image: -ms-linear-gradient(#9b3939, #634444);
        background-image: linear-gradient(#9b3939, #634444); }
  .typo3-formbuilder-dialog a {
    color: #333333; }
  .typo3-formbuilder-dialog .ui-widget-header {
    background: gray;
    color: white;
    font-weight: bold; }
  .typo3-formbuilder-dialog .ui-widget-header a {
    color: white; }
  .typo3-formbuilder-dialog .ui-corner-all, .typo3-formbuilder-dialog .ui-corner-top, .typo3-formbuilder-dialog .ui-corner-left, .typo3-formbuilder-dialog .ui-corner-tl {
    border-radius: 3px; }
  .typo3-formbuilder-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
    border-radius: 0; }
  .typo3-formbuilder-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .1em 0; }
  .typo3-formbuilder-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px; }
  .typo3-formbuilder-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px; }
  .typo3-formbuilder-dialog .ui-dialog-titlebar-close:hover, .typo3-formbuilder-dialog .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0; }
  .typo3-formbuilder-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    zoom: 1; }
  .typo3-formbuilder-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-top: 1px solid silver;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em; }
  .typo3-formbuilder-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right; }
  .typo3-formbuilder-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer; }
  .typo3-formbuilder-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px; }
  .typo3-formbuilder-dialog .ui-dialog-titlebar {
    cursor: move; }

#typo3-formbuilder-structurePanel {
  /* Suppress lines for last child node */
  /* Suppress lines if level is fixed expanded (option minExpandLevel) */
  /*******************************************************************************
   * Common icon definitions
   */
  /*******************************************************************************
   * Lines and connectors
   */
  /*******************************************************************************
   * Expander icon
   * Note: IE6 doesn't correctly evaluate multiples class names,
   *		 so we create combined class names that can be used in the CSS.
   *
   * Prefix: dynatree-exp-
   * 1st character: 'e': expanded, 'c': collapsed
   * 2nd character (optional): 'd': lazy (Delayed)
   * 3rd character (optional): 'l': Last sibling
   */
  /* Status node icons */
  /*******************************************************************************
   * Node titles
   */
  /* @Chrome: otherwise hit area of node titles is broken (issue 133)
     Removed again for issue 165; (133 couldn't be reproduced) */
  /* Remove blue color and underline from title links */
  /*******************************************************************************
   * Drag'n'drop support
   */
  /*** Helper object ************************************************************/
  /*** Drop marker icon *********************************************************/
  /*** Source node while dragging ***********************************************/
  /*** Target node while dragging cursor is over it *****************************/ }
  #typo3-formbuilder-structurePanel ul.dynatree-container {
    font-size: 10px;
    white-space: nowrap;
    padding: 3px; }
  #typo3-formbuilder-structurePanel ul.dynatree-container ul {
    padding: 0 0 0 16px; }
  #typo3-formbuilder-structurePanel ul.dynatree-container li {
    padding-top: 1px;
    list-style: none;
    background: transparent url("../Images/dynatree/vline.gif") 0 0 repeat-y; }
  #typo3-formbuilder-structurePanel ul.dynatree-container li.dynatree-lastsib {
    background-image: none; }
  #typo3-formbuilder-structurePanel ul.dynatree-no-connector > li {
    background-image: none; }
  #typo3-formbuilder-structurePanel .ui-dynatree-disabled ul.dynatree-container {
    opacity: 0.5; }
  #typo3-formbuilder-structurePanel span.dynatree-empty,
  #typo3-formbuilder-structurePanel span.dynatree-vline,
  #typo3-formbuilder-structurePanel span.dynatree-connector,
  #typo3-formbuilder-structurePanel span.dynatree-expander,
  #typo3-formbuilder-structurePanel span.dynatree-checkbox,
  #typo3-formbuilder-structurePanel span.dynatree-radio,
  #typo3-formbuilder-structurePanel span.dynatree-drag-helper-img,
  #typo3-formbuilder-structurePanel #dynatree-drop-marker {
    display: inline-block;
    vertical-align: top;
    background: transparent url("../Images/dynatree/icons.gif") 0 0 no-repeat;
    width: 16px;
    height: 16px; }
  #typo3-formbuilder-structurePanel span.dynatree-connector {
    background-position: -16px -64px; }
  #typo3-formbuilder-structurePanel span.dynatree-expander {
    background-position: 0px -80px;
    cursor: pointer; }
  #typo3-formbuilder-structurePanel .dynatree-exp-cl span.dynatree-expander {
    /* Collapsed, not delayed, last sibling */
    background-position: 0px -96px; }
  #typo3-formbuilder-structurePanel .dynatree-exp-cd span.dynatree-expander {
    /* Collapsed, delayed, not last sibling */
    background-position: -64px -80px; }
  #typo3-formbuilder-structurePanel .dynatree-exp-cdl span.dynatree-expander {
    /* Collapsed, delayed, last sibling */
    background-position: -64px -96px; }
  #typo3-formbuilder-structurePanel .dynatree-exp-e span.dynatree-expander,
  #typo3-formbuilder-structurePanel .dynatree-exp-ed span.dynatree-expander {
    /* Expanded, delayed, not last sibling */
    background-position: -32px -80px; }
  #typo3-formbuilder-structurePanel .dynatree-exp-el span.dynatree-expander,
  #typo3-formbuilder-structurePanel .dynatree-exp-edl span.dynatree-expander {
    /* Expanded, delayed, last sibling */
    background-position: -32px -96px; }
  #typo3-formbuilder-structurePanel .dynatree-loading span.dynatree-expander {
    /* 'Loading' status overrides all others */
    background: transparent url("../Images/dynatree/loading.gif") 0 0 no-repeat; }
  #typo3-formbuilder-structurePanel span.dynatree-icon {
    padding: 2px 0 0 20px; }
  #typo3-formbuilder-structurePanel .dynatree-statusnode-wait span.dynatree-icon {
    background: transparent url("../Images/dynatree/loading.gif") 0 0 no-repeat; }
  #typo3-formbuilder-structurePanel .dynatree-title {
    margin-top: 1px; }
    #typo3-formbuilder-structurePanel .dynatree-title em {
      color: #666; }
  #typo3-formbuilder-structurePanel span.dynatree-node {
    display: -moz-inline-box;
    /* issue 133, 165, 172, 192,  */ }
  #typo3-formbuilder-structurePanel ul.dynatree-container a {
    color: #eee;
    text-decoration: none;
    vertical-align: top; }
  #typo3-formbuilder-structurePanel ul.dynatree-container a:hover {
    color: #ff8700;
    background: #383838; }
  #typo3-formbuilder-structurePanel span.dynatree-node a {
    display: inline-block;
    /* Better alignment, when title contains <br> */
    padding: 0; }
  #typo3-formbuilder-structurePanel span.dynatree-selected a, #typo3-formbuilder-structurePanel span.dynatree-active a {
    color: #ff8700; }
  #typo3-formbuilder-structurePanel div.dynatree-drag-helper a {
    border: 1px solid gray;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.8; }
  #typo3-formbuilder-structurePanel div.dynatree-drop-accept span.dynatree-drag-helper-img {
    background-position: -32px -112px; }
  #typo3-formbuilder-structurePanel div.dynatree-drag-helper.dynatree-drop-reject {
    border-color: red; }
  #typo3-formbuilder-structurePanel div.dynatree-drop-reject span.dynatree-drag-helper-img {
    background-position: -16px -112px; }
  #typo3-formbuilder-structurePanel #dynatree-drop-marker {
    width: 24px;
    position: absolute;
    background-position: 0 -128px; }
  #typo3-formbuilder-structurePanel #dynatree-drop-marker.dynatree-drop-after,
  #typo3-formbuilder-structurePanel #dynatree-drop-marker.dynatree-drop-before {
    width: 64px;
    background-position: 0 -144px; }
  #typo3-formbuilder-structurePanel #dynatree-drop-marker.dynatree-drop-copy {
    background-position: -64px -128px; }
  #typo3-formbuilder-structurePanel #dynatree-drop-marker.dynatree-drop-move {
    background-position: -64px -128px; }
  #typo3-formbuilder-structurePanel span.dynatree-drag-source {
    background-color: #e0e0e0; }
  #typo3-formbuilder-structurePanel span.dynatree-drag-source a {
    color: gray; }
  #typo3-formbuilder-structurePanel span.dynatree-drop-target.dynatree-drop-accept a {
    color: #69a550 !important;
    text-decoration: none; }

#typo3-formbuilder-header,
#typo3-formbuilder-elementSidebar,
#typo3-formbuilder-elementOptionsPanel,
#typo3-formbuilder-footer {
  background: #474747;
  color: white;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  overflow: auto; }
  #typo3-formbuilder-header a,
  #typo3-formbuilder-elementSidebar a,
  #typo3-formbuilder-elementOptionsPanel a,
  #typo3-formbuilder-footer a {
    color: white;
    text-decoration: none; }
    #typo3-formbuilder-header a.active, #typo3-formbuilder-header a:hover,
    #typo3-formbuilder-elementSidebar a.active,
    #typo3-formbuilder-elementSidebar a:hover,
    #typo3-formbuilder-elementOptionsPanel a.active,
    #typo3-formbuilder-elementOptionsPanel a:hover,
    #typo3-formbuilder-footer a.active,
    #typo3-formbuilder-footer a:hover {
      color: #ff8700; }
  #typo3-formbuilder-header h2, #typo3-formbuilder-header h3, #typo3-formbuilder-header h4,
  #typo3-formbuilder-elementSidebar h2,
  #typo3-formbuilder-elementSidebar h3,
  #typo3-formbuilder-elementSidebar h4,
  #typo3-formbuilder-elementOptionsPanel h2,
  #typo3-formbuilder-elementOptionsPanel h3,
  #typo3-formbuilder-elementOptionsPanel h4,
  #typo3-formbuilder-footer h2,
  #typo3-formbuilder-footer h3,
  #typo3-formbuilder-footer h4 {
    padding: 1px 2px 2px 5px;
    border-bottom: 1px solid #282828;
    color: white;
    clear: both;
    white-space: nowrap;
    font-size: 10px;
    font-weight: bold;
    height: 16px; }
  #typo3-formbuilder-header h2,
  #typo3-formbuilder-elementSidebar h2,
  #typo3-formbuilder-elementOptionsPanel h2,
  #typo3-formbuilder-footer h2 {
    padding-top: 3px;
    background: #383838;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #111; }
  #typo3-formbuilder-header h3,
  #typo3-formbuilder-elementSidebar h3,
  #typo3-formbuilder-elementOptionsPanel h3,
  #typo3-formbuilder-footer h3 {
    background: #777;
    text-transform: uppercase;
    color: #383838;
    border-top: 1px solid #999;
    border-bottom: 1px solid #383838;
    text-shadow: 0 1px 1px #aaa;
    height: 14px; }
  #typo3-formbuilder-header h4,
  #typo3-formbuilder-elementSidebar h4,
  #typo3-formbuilder-elementOptionsPanel h4,
  #typo3-formbuilder-footer h4 {
    background: #555;
    color: white;
    border-top: 1px solid #999;
    border-bottom: 1px solid #383838;
    height: 14px; }
  #typo3-formbuilder-header .typo3-formbuilder-error,
  #typo3-formbuilder-elementSidebar .typo3-formbuilder-error,
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-error,
  #typo3-formbuilder-footer .typo3-formbuilder-error {
    color: #aa6666; }

#typo3-formbuilder-loading {
  position: absolute;
  top: 11px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: #262626 url("../Images/spinner.gif") center center no-repeat;
  z-index: 3000;
  text-indent: -9999px;
  overflow: hidden; }

#typo3-formbuilder-header {
  margin: 0;
  padding: 0;
  background: #282828 url("../Images/header_background.png") 0 0 repeat-x;
  height: 46px !important;
  overflow: hidden; }
  #typo3-formbuilder-header h1 {
    margin: 5px 0 0 12px;
    font-size: 25px;
    color: #fff;
    text-shadow: 0 -1px 0 #777777;
    background: transparent url("../Images/flow3Logo.png") 2px center no-repeat;
    padding-left: 23px; }
  #typo3-formbuilder-header #typo3-formbuilder-toolbar {
    position: absolute;
    top: 14px;
    right: 10px; }
    #typo3-formbuilder-header #typo3-formbuilder-toolbar li {
      display: inline;
      margin: 0 0 0 10px; }
      #typo3-formbuilder-header #typo3-formbuilder-toolbar li div {
        display: inline; }
      #typo3-formbuilder-header #typo3-formbuilder-toolbar li select {
        background: #474747;
        width: 119px;
        color: white; }
    #typo3-formbuilder-header #typo3-formbuilder-toolbar .typo3-formbuilder-preset {
      position: relative;
      top: -2px;
      height: 20px; }
    #typo3-formbuilder-header #typo3-formbuilder-toolbar .typo3-formbuilder-preview button:before {
      background-position: -48px 0 !important; }
    #typo3-formbuilder-header #typo3-formbuilder-toolbar .typo3-formbuilder-save button:before {
      background-position: -96px -24px !important; }

#typo3-formbuilder-structurePanel {
  overflow: auto; }
  #typo3-formbuilder-structurePanel button {
    padding: 0 0 0 19px;
    font-size: 10px;
    line-height: 16px;
    font-weight: bold; }
    #typo3-formbuilder-structurePanel button:before {
      background: transparent url("../Images/glyphicons-halflings-white.png") -432px 0 no-repeat;
      content: ' ';
      position: absolute;
      margin: 2px 0 0 -17px;
      height: 14px;
      width: 14px; }
    #typo3-formbuilder-structurePanel button:before {
      margin-top: 1px; }
    #typo3-formbuilder-structurePanel button:hover {
      background: #383838;
      color: #ff8700; }
    #typo3-formbuilder-structurePanel button.typo3-formbuilder-form-selected {
      color: #ff8700; }

#typo3-formbuilder-insertElementsPanel {
  overflow: auto; }
  #typo3-formbuilder-insertElementsPanel h3 span {
    padding-left: 17px;
    color: #383838; }
    #typo3-formbuilder-insertElementsPanel h3 span:before {
      background: transparent url("../Images/glyphicons-halflings-white.png") -432px 0 no-repeat;
      content: ' ';
      position: absolute;
      margin: 2px 0 0 -17px;
      height: 14px;
      width: 14px; }
    #typo3-formbuilder-insertElementsPanel h3 span:before {
      background-image: url("../Images/glyphicons-halflings.png"); }
    #typo3-formbuilder-insertElementsPanel h3 span:before {
      margin-top: 0; }
  #typo3-formbuilder-insertElementsPanel ul {
    margin-bottom: 7px; }
    #typo3-formbuilder-insertElementsPanel ul li {
      padding-left: 25px;
      color: #999; }
      #typo3-formbuilder-insertElementsPanel ul li.typo3-formbuilder-enabled {
        color: white; }
        #typo3-formbuilder-insertElementsPanel ul li.typo3-formbuilder-enabled:hover {
          color: #ff8700;
          background: #383838; }
        #typo3-formbuilder-insertElementsPanel ul li.typo3-formbuilder-enabled span {
          cursor: pointer; }
          #typo3-formbuilder-insertElementsPanel ul li.typo3-formbuilder-enabled span:before {
            background: transparent url("../Images/glyphicons-halflings-white.png") -24px -24px no-repeat;
            content: ' ';
            position: absolute;
            margin: 2px 0 0 -17px;
            height: 14px;
            width: 14px; }
      #typo3-formbuilder-insertElementsPanel ul li span {
        cursor: disabled;
        display: block;
        padding: 4px 0 3px 2px;
        font-size: 10px; }
        #typo3-formbuilder-insertElementsPanel ul li span:before {
          background: transparent url("../Images/glyphicons-halflings-white.png") -216px -96px no-repeat;
          content: ' ';
          position: absolute;
          margin: 2px 0 0 -17px;
          height: 14px;
          width: 14px; }
        #typo3-formbuilder-insertElementsPanel ul li span:before {
          background-image: url("../Images/glyphicons-halflings.png"); }

#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-propertyPanelTitle {
  height: 28px; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-propertyPanelTitle em {
    display: block;
    font-weight: normal;
    text-transform: none; }
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-identifier {
  cursor: pointer; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-identifier:hover {
    color: #ff8700; }
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup {
  margin: 7px 5px 7px 5px;
  clear: both; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup label {
    float: left;
    padding-right: 2px;
    width: 35%; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup .typo3-formbuilder-controls {
    display: block;
    margin-left: 40%;
    width: 57%; }
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup .typo3-formbuilder-controls .typo3-formbuilder-explanation {
      font-size: 10px;
      color: #999; }
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup .typo3-formbuilder-controls label {
      float: none;
      width: auto; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup input,
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup textarea,
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup select {
    width: 100%; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup input[type='checkbox'],
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-controlGroup input[type='radio'] {
    width: auto;
    margin-right: 3px; }
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-addValidator,
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-addFinisher {
  border-bottom: 1px solid #444; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-addValidator select,
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-addFinisher select {
    width: 100%;
    background: gray;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: none; }
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-addValidator select option,
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-addFinisher select option {
      font-weight: normal; }
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid {
  clear: both;
  padding-top: 5px; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-header-columns {
    background: gray;
    color: #474747;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #282828; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport {
    background: white;
    color: #282828; }
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-row {
      border: none; }
      #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-row .slick-cell {
        border-color: transparent silver silver transparent;
        background: #ddd;
        padding: 3px 2px 2px 1px;
        height: 18px; }
        #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-row .slick-cell.editable {
          padding: 0 2px 2px 0;
          height: 21px; }
      #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-row .editor-text {
        width: 97%;
        height: 100%;
        border: none;
        box-shadow: none;
        color: black; }
      #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-row .cell-reorder {
        cursor: move;
        background: #dddddd url("../Images/drag-handle.png") no-repeat center center; }
    #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-reorder-proxy, #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-grid .slick-viewport .slick-reorder-guide {
      background: #282828; }
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-removeButton {
  display: inline-block;
  position: absolute;
  right: 5px;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
  vertical-align: text-top;
  background: transparent url("../Images/glyphicons-halflings-white.png") -456px 0 no-repeat; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-removeButton:hover {
    background-color: #666; }
#typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-removeElementButton {
  position: absolute;
  top: 26px;
  right: 3px;
  font-size: 0;
  padding: 5px 2px 5px 21px; }
  #typo3-formbuilder-elementOptionsPanel .typo3-formbuilder-removeElementButton:before {
    background-position: -456px 0 !important; }

#typo3-formbuilder-footer {
  background: #282828 url("../Images/footer_background.png") 0 0 repeat-x;
  height: 20px !important;
  padding: 9px 5px 0 0;
  font-size: 10px;
  color: #777;
  overflow: hidden;
  text-align: right; }

#typo3-formbuilder-stage {
  overflow: auto; }
  #typo3-formbuilder-stage .typo3-formbuilder-form-element-selected {
    background: #ccc; }

.ui-layout-resizer {
  background: gray url("../Images/hgrabber.gif") 50% 50% no-repeat;
  border: 1px solid #909090; }

.ui-layout-resizer-north, .ui-layout-resizer-south {
  border-style: solid none; }

.ui-layout-resizer-east, .ui-layout-resizer-west {
  border-color: black;
  border-style: none solid none none; }

.ui-layout-resizer-west {
  border-style: none none none solid; }

.ui-layout-resizer-dragging-limit {
  background-color: #7f4949; }
