<html>
	<head>
		<f:base />
		<script src="{f:uri.resource(path:'Library/jquery-1.6.1.min.js')}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script src="{f:uri.resource(path:'Library/ember-0.9.3.js')}"></script>
		<script src="{f:uri.resource(path:'Library/dynatree-1.2.0/src/jquery.dynatree.js')}"></script>
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/dynatree-1.2.0/src/skin/ui.dynatree.css')}" />

		<script src="{f:uri.resource(path:'Library/SlickGrid/lib/jquery.event.drag-2.0.min.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.core.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellrangedecorator.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellrangeselector.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellselectionmodel.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.editors.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.grid.js')}"></script>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/SlickGrid/slick.grid.css')}" />

		<style>
		html,body {margin:0;padding:0;}

		#app {
			height:100%;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-box-align:stretch;
		}

		#header {
			height:50px;
			background-color:#cdcdcd;
		}

		#footer {
			height:30px;
			background-color:#cdcdcd;
		}

		#content {
			-webkit-box-flex:1;
			display: -webkit-box;
				-webkit-box-orient: horizontal;
			-webkit-box-align:stretch;
		}

		#sidebar { width:300px; background-color:#676767;}

		#main {
			-webkit-box-flex:1;
			background-color:green;
		}
		</style>

		<script type="text/javascript">
			<![CDATA[FORMBUILDER_CONFIGURATION = {
				'endpoints': {]]>
					'formPageRenderer': '{f:uri.action(action:"renderformpage")}'
				},
				<![CDATA[
				'formElementTypes': {
					'TYPO3.Form:Page': {
						__isCompositeRenderable: true
					},
					'TYPO3.Form:Radiobuttons': {
						propertySchema: {
							'options': {
								label: 'Options',
								sorting: 10,
								viewName: 'TYPO3.FormBuilder.View.Editor.PropertyGrid',
								viewOptions: {
									columns: [
										{id:"ident", name:"Identifier", field:"_key", editor:TextCellEditor},
										{id:"value", name:"Value", field:"_value", editor:TextCellEditor},
									]
								}
							}
						}
					}
				}
			}
			]]>
		</script>

		<script type="text/x-handlebars" data-template-name="item">
			{{content.label}}
		</script>

		<script type="text/x-handlebars" data-template-name="formElementInspector">
			<h1>Form Element</h1>
			Identifier: {{view Ember.TextField valueBinding="formElement.identifier"}} <br />
			Label: {{view Ember.TextField valueBinding="formElement.label"}}

			{{view TYPO3.FormBuilder.View.FormElementInspectorPart formElementBinding="formElement" propertyPath="properties" schemaBinding="formElementType.propertySchema"}}
		</script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<script type="text/x-handlebars">
					Form Builder -- <b>{{TYPO3.FormBuilder.Model.FormDefinition.identifier}}</b>
				</script>
			</div>
			<div id="content">
				<div id="sidebar">
					<!--<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.AvailableFormElementsView}}
					]]></script>-->

					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.FormStructure}}

						{{view TYPO3.FormBuilder.View.FormElementInspector}}
					]]></script>
				</div>
				<div id="main">
					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.FormPageView}}
					]]></script>
				</div>
			</div>
			<div id="footer">
				&copy; 2010 Awesome Productions Ltd.
			</div>
		</div>
		<script src="{f:uri.resource(path:'JavaScript/app.js')}"></script>
	</body>
</html>