{namespace formbuilder=TYPO3\FormBuilder\ViewHelpers}
<html>
	<head>
		<f:base />
		<script src="{f:uri.resource(path:'Library/jquery-1.6.1.min.js')}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<script src="{f:uri.resource(path:'Library/ember-0.9.4.js')}"></script>
		<script src="{f:uri.resource(path:'Library/dynatree-1.2.0/src/jquery.dynatree.js')}"></script>

		<script src="{f:uri.resource(path:'Library/SlickGrid/lib/jquery.event.drag-2.0.min.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.core.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellrangedecorator.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellrangeselector.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.cellselectionmodel.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.rowselectionmodel.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/plugins/slick.rowmovemanager.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.editors.js')}"></script>
		<script src="{f:uri.resource(path:'Library/SlickGrid/slick.grid.js')}"></script>

		<link rel="stylesheet" href="{f:uri.resource(path:'style.css')}" />
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/dynatree-1.2.0/src/skin/ui.dynatree.wrapped.css')}" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{f:uri.resource(path:'Library/SlickGrid/slick.grid.wrapped.css')}" />

		<script type="text/javascript">
			FORMBUILDER_CONFIGURATION = {formbuilder:jsonConfiguration()};
		</script>

		<script type="text/x-handlebars" data-template-name="AvailableFormElements">
			<h2>Elements</h2>
			{{#collection contentBinding="formElementsGrouped"}}
				<h3>{{content.label}}</h3>
				<ul>
				{{#collection contentBinding="content.elements"}}
					{{view TYPO3.FormBuilder.View.AvailableFormElementsElement formElementTypeBinding="content"}}
				{{/collection}}
				</ul>
			{{/collection}}
		</script>

		<script type="text/x-handlebars" data-template-name="LabelEditor">
			<div class="formbuilder-element">
				<label>Identifier:</label>
				{{view Ember.TextField valueBinding="identifier"}}
				<label>Label:</label>
				{{view Ember.TextField valueBinding="label"}}
			</div>
		</script>
		<script type="text/x-handlebars" data-template-name="TextEditor">
			<div class="formBuilder-element">
				<label>{{label}}:</label>
				{{view Ember.TextField valueBinding="value"}}
			</div>
		</script>

		<script type="text/x-handlebars" data-template-name="PropertyGridEditor">
			<label>Choices:</label>
			<div class="grid"></div>
		</script>

		<script type="text/x-handlebars" data-template-name="RequiredValidatorEditor">
			{{view Ember.Checkbox valueBinding="isRequiredValidatorConfigured" title="required field"}}
		</script>
		<script type="text/x-handlebars" data-template-name="ValidatorEditor">
			<hr />
			<h3>Validators</h3>
			{{view Ember.Select prompt="Select a validator to add" contentBinding="sortedAvailableValidators" optionLabelPath="content.label" selectionBinding="addValidatorSelection"}}
			{{view TYPO3.FormBuilder.View.ContainerView instanciatedViewsBinding="validatorEditorViews"}}
		</script>
		<script type="text/x-handlebars" data-template-name="PropertyPanelTitle">
			<h3>{{formElementType.formBuilder.label}}</h3>
		</script>

		<script type="text/x-handlebars" data-template-name="ValidatorEditor-Default">
			{{label}}
			{{#view Ember.Button target="parentView" action="remove" isVisibleBinding="notRequired"}}Remove{{/view}}
		</script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<script type="text/x-handlebars">
					Form Builder -- <b>{{TYPO3.FormBuilder.Model.FormDefinition.identifier}}</b>
				</script>
			</div>
			<div id="content">
				<div id="leftSidebar">
					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.FormTree}}
					]]></script>

					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.AvailableFormElementsView}}
					]]></script>
				</div>
				<div id="main">
					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.FormPageView}}
					]]></script>
				</div>
				<div id="rightSidebar">
					<h2>Element Options</h2>
					<script type="text/x-handlebars"><![CDATA[
						{{view TYPO3.FormBuilder.View.FormElementInspector formElementBinding="TYPO3.FormBuilder.Model.Form.currentlySelectedRenderable"}}
					]]></script>
				</div>
			</div>
		</div>
		<script src="{f:uri.resource(path:'JavaScript/app.js')}"></script>
	</body>
</html>